@tailwind base;
@tailwind components;
@tailwind utilities;

.packet-1:hover button {
    background-color: #fff;
    color: #e9b634;
    transition-duration: 200ms;
}

.packet-2:hover button {
    background-color: #fff;
    color: rgb(37 99 235);
    transition-duration: 200ms;
}

.mail .langganan {
    background-color: #e9b634;
}

@media only screen and (min-width: 1200px) {
    :root {
        font-size: 1.1vw;
    }
}